# Logs

.history

node_modules/
dist
derms/
dist-ssr
public/l7-mapbox/
*.local
*.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
